<center>
<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%#=link_to "My Photos",post_path(id: current_user.id),class: "nav-link navbar-brand"%>
      </li>
      <li class="nav-item active">
        <%=link_to "Create Blog", new_article_path(id: current_user.id),class: "nav-link navbar-brand"%>
      </li>
       <li class="nav-item active">
       <%=button_to "Log out", destroy_user_session_path,method: :delete,class: "nav-link nav justify-content-end"%>
      </li>
      
      
    </ul>
   
  </div>
</nav>
  <h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <center><th>Title</th></center>
      <center><th>Description</th></center>
      <th>Activate</th>
       <th>Actions</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
          
        <%if current_user.id == article.user_id %>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
          <%if article.active == true%>
            <td><%= link_to 'deactivate',active_articles_path(id:article.id), method: :post %>
              <%else%>
                <td><%= link_to 'activate',active_articles_path(id:article.id), method: :post %></td>
              <%end%>
        <td><%= link_to 'Show',article_path(id: article.id) %></td>
        <td><%= link_to 'Edit',edit_article_path(id: article.id) %></td>
        <td><%= link_to 'Destroy',article_path(id: article.id), method: :delete %></td>

        <td></td>

       <%elsif article.active == true%>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td></td>
        <td><%= link_to 'Show',article_path(id: article.id) %></td>
        <td></td>
        <td></td>
      </tr>
      <%end%>
    <% end %>
    <% #end %>
  </tbody>
</table>
  <% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<%end%>
</center>